.color-primary {
  color: #0a0526; }

.color-secondary {
  color: #ee8753; }

.color-light {
  color: #fffcfc; }

.color-dark {
  color: #00214d; }

.bg-primary {
  background-color: #0a0526;
  color: #ddd; }

.bg-secondary {
  background-color: #ee8753;
  color: #000; }

.bg-light {
  background-color: #fffcfc;
  color: #000; }

.bg-dark {
  background-color: #00214d;
  color: #ddd; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: Arial, Helvetica, sans-serif; }

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

a {
  text-decoration: none; }

.btn-primary, .btn-secondary, .btn-light, .btn-dark, .btn-remove {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 900; }
  .btn-primary:hover, .btn-secondary:hover, .btn-light:hover, .btn-dark:hover, .btn-remove:hover {
    opacity: 0.9; }

.btn-primary {
  background-color: #0a0526;
  color: #ddd; }

.btn-secondary {
  background-color: #ee8753;
  color: #000; }

.btn-light {
  background-color: #fffcfc;
  color: #000; }

.btn-dark {
  background-color: #00214d;
  color: #ddd; }

.btn-remove {
  font-size: 16px;
  background-color: transparent;
  color: red;
  padding: 0; }

.color-primary {
  color: #0a0526; }

.color-secondary {
  color: #ee8753; }

.color-light {
  color: #fffcfc; }

.color-dark {
  color: #00214d; }

.bg-primary {
  background-color: #0a0526;
  color: #ddd; }

.bg-secondary {
  background-color: #ee8753;
  color: #000; }

.bg-light {
  background-color: #fffcfc;
  color: #000; }

.bg-dark {
  background-color: #00214d;
  color: #ddd; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.overlay-container {
  position: fixed;
  inset: 0px;
  z-index: 999;
  pointer-events: none;
  overflow: hidden; }

.overlay-window {
  border-radius: 4px;
  background: white;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(76, 47, 47, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  max-width: calc(100vw - 24px);
  width: 80vw;
  margin: auto;
  min-height: 80vh;
  max-height: 90vh;
  padding: 1rem;
  display: flex;
  flex-direction: column; }
  .overlay-window h1 {
    padding: 0.5rem;
    border-bottom: 2px solid #ee8753; }
  .overlay-window .attribute {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid gray;
    cursor: default; }
    .overlay-window .attribute label {
      padding: 10px, 1rem;
      color: #0a0526; }
    .overlay-window .attribute .attribute-content {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 10px; }
      .overlay-window .attribute .attribute-content:hover {
        background-color: #f7c8b0; }

.dropDown-enable,
.movie-title {
  cursor: pointer; }

.overlay-box {
  border-radius: 4px;
  background: white;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(76, 47, 47, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  max-width: calc(100vw - 24px);
  width: 30vw;
  min-height: 34px;
  max-height: 90vh;
  padding: 0.3rem;
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  overflow: visible; }
  .overlay-box .filter {
    width: 100%;
    border-bottom: 2px solid gray;
    padding-bottom: 5px;
    margin-bottom: 5px; }
    .overlay-box .filter input {
      border: none;
      padding: 0, 2px;
      width: 70%;
      font-size: 1rem; }
      .overlay-box .filter input:focus {
        outline: none; }
  .overlay-box label {
    padding: 10px 0;
    color: #999;
    font-size: 0.8rem; }
  .overlay-box .update-field {
    padding: 5px;
    font-size: 1rem; }

.no-wrap {
  background: rgba(242, 241, 238, 0.6);
  padding: 10px;
  width: 100%;
  min-height: 34px;
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 20fr;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  z-index: 1; }
  .no-wrap:hover {
    background: rgba(224, 222, 215, 0.6);
    overflow: visible; }

#dot {
  margin-right: 5px;
  border-radius: 99px;
  height: 8px !important;
  width: 8px !important;
  background-color: #aaa; }

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  #navbar .nav-link {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    border-radius: 1.5rem;
    font-weight: 900;
    color: #ddd; }
    #navbar .nav-link:hover {
      border-bottom: 2px solid #ee8753; }
  #navbar .selected {
    background-color: #ee8753;
    color: #000; }

#item-form {
  padding: 10px;
  border-bottom: 1px solid #ccc; }

/* Form & Input */
.form-input {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none; }
  .form-input:focus {
    border: 2px solid #ee8753;
    padding: 9px; }

/* Items */
.items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem; }
  .items li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px 20px;
    font-weight: 700;
    cursor: pointer; }

table {
  margin: 20px 0;
  font-size: 1rem;
  cursor: default; }

th {
  padding: 12px 15px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #0a0526; }

td {
  position: relative;
  max-width: 150px;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 10px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd; }
  td .count {
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 0.5rem; }
  td .clips-select {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc; }

th:hover,
td:hover {
  background-color: #f7c8b0; }

.tooltip {
  position: relative; }
  .tooltip .tooltiptext {
    background-color: #ee8753;
    border: 3px solid #0a0526;
    border-radius: 6px;
    padding: 12px;
    padding-top: 7px;
    font-size: 0.9rem;
    height: 100%;
    visibility: hidden;
    white-space: nowrap;
    text-align: auto;
    /* Position the tooltip text */
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px; }
  .tooltip:hover .tooltiptext {
    visibility: visible; }
