.hidden {
  visibility: hidden; }

.color-primary {
  color: #0a0526; }

.color-secondary {
  color: #ee8753; }

.color-light {
  color: #fffcfc; }

.color-dark {
  color: #00214d; }

.bg-primary {
  background-color: #0a0526;
  color: #ddd; }

.bg-secondary {
  background-color: #ee8753;
  color: #000; }

.bg-light {
  background-color: #fffcfc;
  color: #000; }

.bg-dark {
  background-color: #00214d;
  color: #ddd; }

.bg-secondaryLight {
  background-color: #f7c8b0;
  color: #000; }

.bg-red {
  background-color: #eca4a4;
  color: #000; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  font-family: Arial, Helvetica, sans-serif;
  overflow-wrap: break-word;
  word-break: break-word; }

.container {
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden; }

.divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #0a0526; }

a {
  text-decoration: none; }

.btn-primary, .btn-secondary, .btn-light, .btn-dark, .btn-small, .btn-remove {
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 900; }
  .btn-primary:hover, .btn-secondary:hover, .btn-light:hover, .btn-dark:hover, .btn-small:hover, .btn-remove:hover {
    opacity: 0.9; }

.btn-primary {
  background-color: #0a0526;
  color: #ddd; }

.btn-secondary {
  background-color: #ee8753;
  color: #000; }

.btn-light {
  background-color: #fffcfc;
  color: #000; }

.btn-dark {
  background-color: #00214d;
  color: #ddd; }

.btn-small {
  border-radius: 5px;
  font-weight: 400;
  padding: 0rem;
  border: 2px solid #0a0526;
  background-color: #fffcfc;
  color: #000; }
  .btn-small:hover {
    background-color: #00214d;
    color: #ddd; }

.btn-remove {
  font-size: 16px;
  background-color: transparent;
  color: red;
  padding: 0; }

.hidden {
  visibility: hidden; }

.color-primary {
  color: #0a0526; }

.color-secondary {
  color: #ee8753; }

.color-light {
  color: #fffcfc; }

.color-dark {
  color: #00214d; }

.bg-primary {
  background-color: #0a0526;
  color: #ddd; }

.bg-secondary {
  background-color: #ee8753;
  color: #000; }

.bg-light {
  background-color: #fffcfc;
  color: #000; }

.bg-dark {
  background-color: #00214d;
  color: #ddd; }

.bg-secondaryLight {
  background-color: #f7c8b0;
  color: #000; }

.bg-red {
  background-color: #eca4a4;
  color: #000; }

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.overlay-container {
  position: fixed;
  inset: 0px;
  z-index: 999;
  pointer-events: none;
  overflow: hidden; }

.overlay-window {
  border-radius: 4px;
  background: white;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(76, 47, 47, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  max-width: calc(100vw - 24px);
  width: 80vw;
  margin: auto;
  min-height: 80vh;
  max-height: calc(100vh - 100px - 30px);
  padding: 2rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column; }
  .overlay-window h1 {
    padding: 0.5rem;
    border-bottom: 2px solid #ee8753; }
  .overlay-window .attribute {
    min-height: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid gray;
    cursor: default; }
    .overlay-window .attribute label {
      padding: 10px, 1rem;
      color: #0a0526; }
    .overlay-window .attribute .attribute-content {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 10px; }
      .overlay-window .attribute .attribute-content:hover {
        background-color: #f7c8b0; }

.dropDown-enable,
.movie-title {
  cursor: pointer; }

.overlay-box {
  border-radius: 4px;
  background: white;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(76, 47, 47, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  width: max-content;
  min-width: 105%;
  max-width: 40vw;
  height: 100%;
  max-height: 40vh;
  padding: 0.3rem;
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  overflow: visible !important; }
  .overlay-box .scroll-wrapper {
    display: inline-block;
    overflow-y: scroll !important; }
  .overlay-box .filter {
    width: 100%;
    border-bottom: 2px solid gray;
    padding-bottom: 2px;
    margin-bottom: 2px; }
    .overlay-box .filter input {
      border: none;
      padding: 0, 2px;
      width: 100%;
      font-size: 1rem;
      margin: 0;
      padding: 2px; }
      .overlay-box .filter input:focus {
        outline: none; }
  .overlay-box label {
    padding: 10px 0;
    color: #999;
    font-size: 0.8rem; }

.grow-wrap {
  height: 10px;
  width: 100% !important;
  display: grid; }
  .grow-wrap::after {
    content: attr(data-replicated-value) " ";
    visibility: hidden;
    white-space: pre-wrap; }
  .grow-wrap > textarea {
    overflow: hidden; }
  .grow-wrap > textarea, .grow-wrap::after {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2; }

.no-wrap {
  background: rgba(242, 241, 238, 0.6);
  padding: 10px;
  width: 100%;
  min-height: 34px;
  font-size: 14px;
  border: 2px solid transparent;
  cursor: pointer; }
  .no-wrap:hover {
    border: 2px solid #ee8753;
    overflow: visible; }
  .no-wrap .dot-icon::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 3px;
    background-color: grey; }

.input-analysis-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  font-size: 0.8rem; }
  .input-analysis-wrapper .categories {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .input-analysis-wrapper .categories .category {
      width: 100% !important;
      display: inline-block;
      border: 2px solid #0a0526;
      padding: 5px;
      margin-bottom: 5px; }
      .input-analysis-wrapper .categories .category .items {
        margin: 3px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        list-style: none; }
      .input-analysis-wrapper .categories .category .items li {
        margin: 0px;
        padding: 5px;
        background-color: #eee;
        cursor: move; }
      .input-analysis-wrapper .categories .category.dropzone {
        border: 2px dashed #ee8753; }

#item-form {
  padding: 10px; }

input {
  border: none;
  outline: none;
  border-bottom: 3px solid #0a0526;
  padding-bottom: 5px;
  font-size: 1rem;
  width: 170px;
  margin: 5px; }

#emotion-input-submit {
  display: flex;
  align-items: center;
  justify-content: left; }

/* Items */
.items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem; }
  .items li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px 20px;
    font-weight: 700;
    cursor: pointer; }

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  #navbar .nav-link {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    border-radius: 1.5rem;
    font-weight: 900;
    color: #ddd; }
    #navbar .nav-link:hover {
      border-bottom: 2px solid #ee8753; }
  #navbar .selected {
    background-color: #ee8753;
    color: #000; }

.hidden {
  display: hidden; }

#filters {
  margin-top: 20px;
  margin-bottom: 10px; }
  #filters .table-filter {
    min-width: 200px;
    padding: 15px;
    position: relative; }
    #filters .table-filter .select-filter {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #filters .table-filter .select-filter select {
        width: 50%; }
    #filters .table-filter input {
      width: 100%; }

table {
  white-space: nowrap !important;
  border-spacing: 0px;
  margin-top: 20px;
  font-size: 1rem;
  cursor: default;
  width: 100%;
  height: 100%; }

th {
  padding: 12px 15px;
  text-align: left;
  font-weight: bold;
  box-shadow: -3px 0px 0px inset #fff, 0px -2px 0px inset #333; }

.dropDown-emotion {
  width: 100%;
  height: 100%;
  display: flex; }
  .dropDown-emotion div {
    padding-left: 8px; }

.front-button-wrap {
  position: absolute;
  top: -1px;
  left: -5px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .front-button-wrap div {
    padding: 1px 2px; }
  .front-button-wrap > div {
    margin-bottom: 2px; }

tr {
  position: relative;
  width: 100%;
  height: 100%; }
  tr .open-button-style {
    position: absolute;
    top: 9px;
    right: 1px;
    padding: 3px; }

td {
  max-width: 150px;
  min-width: 100px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 15px;
  padding-right: 0rem;
  box-shadow: -3px 0px 0px inset #fff, 0px -1px 0px inset #aaa; }
  td .count {
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 0.5rem; }

th:hover,
td:hover {
  background-color: #f7c8b0; }
