.input-analysis-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  font-size: 0.8rem;

  .categories {
    // grid-column: 2 / span 3;
    // grid-row: 1 / span 5;
    display: flex;
    flex-direction: column;
    width: 100%;

    .category {
      width: 100% !important;
      display: inline-block;
      border: 2px solid $primary-color;
      padding: 5px;
      margin-bottom: 5px;

      .items {
        margin: 3px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        list-style: none;
      }

      .items li {
        margin: 0px;
        padding: 5px;
        background-color: #eee;
        cursor: move;
      }

      &.dropzone {
        border: 2px dashed $secondary-color;
      }
    }
  }
}

#item-form {
  padding: 10px;
}

input {
  border: none;
  outline: none;
  border-bottom: 3px solid $primary_color;
  padding-bottom: 5px;
  font-size: 1rem;
  width: 170px;
  margin: 5px;
}

#emotion-input-submit {
  display: flex;
  align-items: center;
  justify-content: left;
}

/* Items */

.items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;

  li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px 20px;
    font-weight: 700;
    cursor: pointer;
  }
}
