.overlay-container {
  position: fixed;
  inset: 0px;
  z-index: 999;
  pointer-events: none;
  overflow: hidden;
}

.overlay-window {
  // visual
  border-radius: 4px;
  background: white;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(76, 47, 47, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

  max-width: calc(100vw - 24px);
  width: 80vw;
  margin: auto;
  min-height: 80vh;
  max-height: calc(100vh - 100px - 30px);
  padding: 2rem;
  overflow-y: scroll;

  //   non-visual
  display: flex;
  flex-direction: column;

  // display: grid;
  // grid-template-columns: 1fr;

  h1 {
    padding: 0.5rem;
    border-bottom: 2px solid $secondary-color;
  }

  .attribute {
    min-height: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid $lightgray;
    cursor: default;

    label {
      padding: 10px, 1rem;
      color: $primary-color;
    }

    .attribute-content {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding: 10px;

      &:hover {
        background-color: lighten($secondary-color, 20%);
      }
    }
  }
}

.dropDown-enable,
.movie-title {
  cursor: pointer;
}

.overlay-box {
  // visual
  border-radius: 4px;
  background: white;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px,
    rgba(76, 47, 47, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;

  max-width: calc(100vw - 24px);
  width: 105%;
  height: 100%;
  max-height: 40vh;
  overflow: scroll;
  padding: 0.3rem;

  //   non-visual
  display: flex;
  white-space: nowrap;
  flex-direction: column;
  overflow: visible;

  .filter {
    width: 100%;
    border-bottom: 2px solid $lightgray;
    padding-bottom: 5px;
    margin-bottom: 5px;

    input {
      border: none;
      padding: 0, 2px;
      width: 100%;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }
  }

  label {
    padding: 10px 0;
    color: #999;
    font-size: 0.8rem;
  }
}

.grow-wrap {
  // used on textarea to auto resize
  // https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/
  height: 10px;
  width: 100% !important;
  display: grid;

  &::after {
    content: attr(data-replicated-value) " ";
    visibility: hidden;
    white-space: pre-wrap;
  }

  & > textarea {
    overflow: hidden;
  }

  & > textarea,
  &::after {
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
  }
}

.no-wrap {
  // visual
  background: rgba(242, 241, 238, 0.6);
  padding: 10px;
  width: 100%;
  min-height: 34px;
  font-size: 14px;

  // non visual
  display: grid;
  grid-template-columns: 1fr 200fr;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  // z-index: 1;

  &:hover {
    background: darken(rgba(242, 241, 238, 0.6), 8%);
    overflow: visible;
  }
}

#dot {
  margin-right: 5px;
  border-radius: 99px;
  height: 8px !important;
  width: 8px !important;
  background-color: #aaa;
}
