@import "utils";
@import "config";
@import "temp";

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .nav-link {
    display: inline-block;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    border-radius: 1.5rem;
    font-weight: 900;

    color: set-color($primary-color);
    &:hover {
      border-bottom: 2px solid $secondary-color;
    }
  }

  .selected {
    @include set-color-and-bg($secondary-color);
  }
}

#item-form {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

/* Form & Input */
.form-input {
  font-size: 18px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;

  &:focus {
    border: 2px solid $secondary-color;
    padding: 9px;
  }
}

/* Items */

.items {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;

  li {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 5px 20px;
    font-weight: 700;
    cursor: pointer;
  }
}

// table for emtion and movie
table {
  // border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  cursor: pointer;
}

th {
  padding: 12px 15px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid $primary-color;
}

td {
  position: relative;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 10px;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;

  .count {
    border-radius: 5px;
    padding: 0.5rem;
    margin-right: 0.5rem;
  }

  .clips-select {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
  }
}

th:hover,
td:hover {
  background-color: lighten($secondary-color, 20%);
}
